:root {
  --primary: #96dce9;
  --secondary: #6e6e6e;
  --lightGrey: #ebebeb;
  --midGrey: #9b9b9b;
  --background: #f2f4f5;
  --boxshadowGrey: #b2b6bb;
  --boxshadowInset: #cccdd2;
  --boxshadowPrimaryDark: #80bbc6;
  --boxshadowPrimaryLight: #adfdff;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: 'Open Sans', sans-serif;
  --font-system: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  --borderRadius: 1rem;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: var(--boxshadowPrimaryLight);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: var(--font-system);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
  text-decoration: none;
}

ul {
  padding-left: 1em;
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5rem;
}

h2 {
  margin: 5rem 0 1.5rem;
}

h3 {
  margin: 3.5rem 0 2.4rem;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1rem;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--background);
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 1rem 0;
}
.section.noPadding {
  padding: 0;
}
body,
#wrapper {
  background: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 560px) {
  .section {
    width: 100%;
    padding: 1rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 800px;
}
.container.skinnier {
  max-width: 600px;
}

/* Buttons */
.NeumoCircleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  border-radius: 44px;
  color: var(--primary);
  box-shadow: 2px 2px 4px var(--boxshadowGrey), -2px -2px 4px #ffffff;
}
.NeumoCircleButton.active,
.NeumoCircleButton:hover {
  box-shadow: 2px 2px 4px #bdc1c5a8 inset, -2px -2px 4px #ffffff inset;
}
.NeumoCircleLightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  border-radius: 44px;
  box-shadow: 4px 4px 6px #b1b5b9a8, -2px -2px 8px #e9e9e9;
}
.NeumoCircleLightButton.active,
.NeumoCircleLightButton:hover {
  box-shadow: inset 4px 4px 7px #bdc1c5a8, inset -4px -4px 7px #ffffff;
}
.NeumoEllipseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 3.6rem;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #bdc1c5a8, -10px -10px 20px #ffffff;
}
.NeumoEllipseButton.active,
.NeumoEllipseButton:hover {
  color: var(--primary);
  box-shadow: inset 4px 4px 7px #bdc1c5a8, inset -4px -4px 7px #ffffff;
}

.Button {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
}
.Button:hover,
.Button:focus {
  opacity: 0.95;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageTitle {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 0.4px;
  border-radius: 2rem;
  margin: 4rem 0;
  color: var(--secondary);
}

.gatsby-code-title {
  background: #f8efdd;
  color: #005661;
  margin-top: 2rem;
  margin-bottom: -0.65em;
  padding: 1rem 1.5rem;
  font-size: 0.8em;
  line-height: 0.2;
  font-weight: 600;
  display: table;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
}
.gatsby-highlight {
}

@media screen and (max-width: 960px) {
  .PageTitle {
    font-size: 3rem;
  }
}

@media screen and (max-width: 560px) {
  .container {
    width: 90%;
  }
  .PageTitle {
    font-size: 2.5rem;
  }
}
